@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hero Heading (bold + glowing) */
  .heading-primary {
    @apply text-2xl md:text-4xl font-extrabold bg-gradient-to-r from-main-primary to-main-secondary bg-clip-text text-transparent drop-shadow-neon;
  }


  /* Section Heading (slightly smaller + softer glow) */
  .heading-secondary {
    @apply text-xl md:text-4xl font-bold bg-gradient-to-r from-main-secondary to-main-primary bg-clip-text text-transparent italic;
  }

}

@keyframes borderShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-border {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 3px;
  /* border thickness */
  background: linear-gradient(270deg,
      #a855f7,
      #9333ea,
      #a855f7,
      #9333ea);
  background-size: 600% 600%;
  animation: moveBorder 8s linear infinite;

  /* Mask so gradient shows only on border */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  /* Glow shadow outside the card */
  box-shadow: 0 0 20px 8px rgba(168, 85, 247, 0.6),
    0 0 40px 12px rgba(147, 51, 234, 0.5);
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden !important;
  overflow-y: overlay !important;
  overscroll-behavior: none;
}